img
{
  display:block;
  width:50%;
  margin:0 auto;
  max-width:100%;
}

#main
{
  margin:15px;
  font-size:25;
  background-color:#aaffff;
}

#title,#bio
{
  text-align:center;
}

#img-div
{
  margin:0 50px;
  text-align:center;
  font-size:17;
  background-color:#ddffee;
}

#image
{
  padding:15px 0 3px 0;
}

#tribute-info
{
  margin-top:10px;
  text-align:center;
}
